@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* theme */
@plugin "daisyui/theme" {
  name: "light";
  /* default: true; */

  /* Button, link, highlight */
  /* --color-primary: #EF4444; */


}

@plugin "daisyui/theme" {
  name: "dark";
  /* default: true; */
  /* --color-primary: purple; */
  /* --color-secondary: yellow; */
}

@plugin "daisyui" {
  themes: ["light", "dark"];
}


/* class */

.active {
  color: red;
  /* text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: red; */
}




.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.unfilled {
  font-variation-settings: 'FILL' 0;
}

/* Hide scrollbar for clean carousel look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.jost-font {
  font-family: "Jost", sans-serif;
}


.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

